.fav-place-bg-container {
    background-image: url("towerbg.jpg");
    height: 100vh;
    background-size: cover;
}

.fav-place-heading {
    color: white;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: bold;
    padding: 24px;
}

.fav-place-card{
    
}
.fav-place-card-heading {
    color: #0f0e46;
    font-family: "Roboto";
    font-size: 23px;
    font-weight: bold;
}
